{{!-- <div class="pushDownFull"></div> --}}

<div class="container">
	<div class="slider fullscreen">
		<ul class="slides">
			<li>
				<img src="assets/img/background1.jpg">
				<div class="caption center-align">
					<h3>Check out some closets!!</h3>
					<div class="row">
						<button data-target="modal2" class="smol-margin btn blue modal-trigger animated infinite pulse">Look at a closet!</button>
						<button data-target="new-user-modal" id="new-user-text" class="smol-margin btn red modal-trigger">New User</button>
						<button data-target="user-select" class="smol-margin btn red modal-trigger">Select user</button>
						{{!-- <button id="check-date" class="smol-margin btn red">Date</button> --}}
					</div>
					<h5 class="light grey-text text-lighten-3">Look at a closet or whatever idc!</h5>
				</div>
			</li>
{{!-- 			<li>
				<img src="assets/img/background2.jpg">
				<div class="caption left-align">
					<h3 class="black-text">You Can Also Add a Burger!</h3>
					<div class="row">
						<button data-target="modal2" class="smol-margin btn blue modal-trigger">Look at a closet!</button>
						<button data-target="modal1" class="smol-margin btn red modal-trigger animated infinite pulse">Add a Burger</button>
						<button data-target="modal3" class="smol-margin btn blue modal-trigger">Burger Cemetery</button>
					</div>
					<h5  class="light black-text">Click on Add a Burger so other people (or you) can eat a burger!</h5>
				</div>
			</li>
			<li>
				<img src="assets/img/background3.jpg">
				<div class="caption right-align">
					<h3 class="purple-text text-darken-2">RIP (Rest In Poop) Burgers</h3>
					<div class="row">
						<button data-target="modal2" class="smol-margin btn black modal-trigger">Look at a closet!</button>
						<button data-target="modal1" class="smol-margin btn black modal-trigger">Add a Burger</button>
						<button data-target="modal3" class="smol-margin btn pink darken-4 modal-trigger animated infinite pulse">Burger Cemetery</button>
					</div>
					<h5 class="purple-text text-darken-2">Click on Burger Cemetery to see some recently murdered burgers...</h5>
				</div>
			</li> --}}
		</ul>
	</div>

	<div id="new-user-modal" class="modal modal-custom">
		<div class="modal-content modal-content-custom">
			<h4 class="animated slideInUp center-align">New User</h4>
			<form>
				<div class="row">
					<div class="input-field center-align no-side-padding">
						<div class="input-field col s12 center-align no-side-padding smol-top-margin">	
							<input class="animated slideInUp smol-bottom-margin" type="text" id="name" data-length="30">
							<label for="owner">Name:</label>
						</div>
					</div>
				</div>
				{{!-- <div class="row">
					<div class="input-field center-align no-side-padding">
						<div class="input-field col s12 center-align no-side-padding smol-top-margin">	
							<input class="animated slideInUp smol-bottom-margin" type="text" id="url">
							<label for="name">Profile Pic (URL):</label>
						</div>
					</div>
				</div> --}}
				<div class="row">
					<div class="input-field center-align no-side-padding">
						<div class="input-field col s12 center-align no-side-padding smol-top-margin">	
							<input class="animated slideInUp smol-bottom-margin" type="text" id="description">
							<label for="name">About You:</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s0 m3 l4"></div>
					<button class="col s12 btn-large blue animated slideInUp waves-effect waves-light" id="add-user-btn">Submit</button>
				</div>
			</form>		
		</div>
	</div>

	<div id="user-select" class="modal modal-custom">
		<div class="modal-content modal-content-custom">
			<h4 class="animated slideInUp center-align">Select User</h4>
			<form>
				<div class="row">
					<div class="input-field center-align no-side-padding">
						<div class="input-field col s12 center-align no-side-padding smol-top-margin">	
							<input class="animated slideInUp smol-bottom-margin" type="text" id="userId-select" data-length="2">
							<label for="userId-select">UserId:</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s0 m3 l4"></div>
					<button class="col s12 btn-large blue animated slideInUp waves-effect waves-light" id="select-user-btn">Select</button>
				</div>
			</form>		
		</div>
	</div>

	<div id="modal2" class="modal bottom-sheet yellow">
		<div class="modal-content">	
			<h4 class="animated slideInUp center-align">Jon's Temporary Closet</h4>
			<div class="row" id="undevoured-burgers">
			{{#each items}}
				{{!-- {{#unless devoured}} --}}
				<div class="animated slideInUp col s12 m6 l4 smol-bottom-margin center-align">
					<img src="{{img_url}}" class="smol-img" datai="{{@index}}">
					<div><strong>{{name}}</strong></div>
					<div>Chef: {{user.name}}</div>
					<div>Description: {{description}}</div>
					<button class="devour btn green" name="{{name}}" id="{{id}}">Devour</button>
					{{!-- <button class="delete btn red rounded" burgerId="{{id}}">Delete</button> --}}
				</div>
			{{/each}}
			</div>
		</div>
	</div>

<div class="pushDownFull"></div>
<h1>Poop</h1>
</div>

<script type="text/javascript">
	$('#select-user-btn').on('click',function(){
		event.preventDefault();
		var userId = $('#userId-select').val().trim();
		var url = window.location.origin+'/mycloset?userId='+userId;
		console.log(url);
		window.location.href = url;
	})

	$("#add-user-btn").on("click", function(event) {
	event.preventDefault();

		// make a newUser obj
		var newUser = {
		// name from name input
		name: $("#name").val().trim(),
		// description from description input
		description: $("#description").val().trim(),
		// url from url input
		// url: $("#url").val().trim()

	};

	// send an AJAX POST-request with jQuery
	$.post("/api/user/new", newUser)
	// on success, run this callback
	.then(function(data) {
	// log the data we found
		console.log('userId'+data);
		var userId = data;
		var url = window.location.origin+'/mycloset?userId='+userId;
		console.log(url);
		window.location.href = url;
	// tell the user we're adding a new user with an alert window
		// empty each input box by replacing the value with an empty string
		// $("#name").val("");
		// $("#description").val("");
		// $("#url").val("");
		// $('#new-user-modal').modal('close');
		//need to add something here to prompt the user to log in after creating a new account?
	});



	});
</script>