
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper white darken-4">
			<div class="container">
				<div class="row">
					<div class="col s12 l10 offset-l1">
						<a href="/" class="brand-logo"><img src="assets/img/hanger-logo.png" class="smol-left-margin logo-img"></a>
						<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
						<ul class="right hide-on-med-and-down">
							<li><a href="#" class="black-text">Sass</a></li>
							<li><a href="#" class="black-text">Components</a></li>
							<li><a href="#" class="black-text">Javascript</a></li>
							<li><a href="#" class="black-text smol-right-margin">Mobile</a></li>
						</ul>
						<ul class="side-nav" id="mobile-demo">
							<li><a href="#">Sass</a></li>
							<li><a href="#">Components</a></li>
							<li><a href="#">Javascript</a></li>
							<li><a href="#">Mobile</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>

<div class="container">
	
	<div class="row no-bottom-margin">
		<div class="col s12 l10 offset-l1">
			<div class="row margin-top no-bottom-margin">
				{{#each user}}
				<div class="col s4 offset-s1 m3 offset-m2 l2 offset-l2 relativePos avatar-box">
					<img src="{{img_url}}" alt="" class="circle responsive-img avatar-border avatar-size">
					<a href="#modalUserUpdate" class="btn-floating btn-large waves-effect waves-light blue user-update-button modal-trigger" dataId="{{id}}" dataName="{{name}}" dataImgUrl="{{img_url}}" dataDescription="{{description}}"><i class="material-icons">update</i></a>
				</div>
				<div class="col s6 m5">
					<div class="row">
						<div class="col s12">
							<h5 class="black-text"><strong>{{name}}</strong></h5>
						</div>
						<div class="col s12">
							<span class="blue-grey-text">{{description}}</span>
						</div>
						<div class="col s12 smol-top-margin">
							<div class="col s12 no-padding">
								<span><strong class="black-text">{{longness}}</strong> Items&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<span><strong class="black-text">27%</strong> Robability&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<span><strong class="black-text">563</strong> Ratings</span>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12 l10 offset-l1">
			{{#each items}}
			<a class="modal-trigger" href="#modal{{id}}">
				<div class="col s4 closet-img-padding square-div closet-counter category{{categoryId}}">
					<img src="{{img_url}}" alt="" class="square animated fadeIn responsive-img">
					<a href="#modalUpdate" class="btn-floating btn-large waves-effect waves-light blue img-update-button modal-trigger" dataId="{{id}}" dataName="{{name}}" dataImgUrl="{{img_url}}" dataCategoryId="{{categoryId}}" dataSubcategory="{{subcategory}}" dataDescription="{{description}}" dataTags="{{tags}}"><i class="material-icons">update</i></a>
					<a href="#modalDelete" class="btn-floating btn-large waves-effect waves-light blue img-delete-button modal-trigger" dataId="{{id}}" dataName="{{name}}"><i class="material-icons">delete_forever</i></a>
					<div class="img-name-hover unselectable" dataModal="{{id}}">{{name}}</div>
				</div>
			</a>
			{{/each}}
		</div>
	</div>

	{{#each items}}
	<div id="modal{{id}}" class="modal no-line-height">
			<img src="{{img_url}}" alt="" class="modal-image">
			<span class="modal-content-mycloset">
				<h4 class="restore-line-height-h4">{{name}}</h4>
				{{!-- <hr> --}}
				<p class="restore-line-height">{{description}}&nbsp;<span class="seperate-tags blue-grey-text">{{tags}}</span></p>
				{{!-- <p class="restore-line-height">{{tags}}</p> --}}
				<p class="set-category-text restore-line-height blue-grey-text" dataCategoryId="{{categoryId}}"></p>
			</span>
	</div>
	{{/each}}

	<div class="fixed-action-btn">
		<a class="btn-floating btn-large waves-effect waves-light">
			<i class="large material-icons blue-grey darken-4">edit</i>
		</a>
		<ul>
			<li><a id="showNames" class="btn-floating green waves-effect waves-dark"><i id="swapLabel" class="material-icons">label_outline</i></a></li>
			<li><a href="#modalAdd" class="modal-trigger btn-floating green waves-effect waves-dark"><i class="material-icons">add</i></a></li>
		</ul>
	</div>

<div id="modalAdd" class="modal">
	<div class="modal-content">
		<div class="row">
			<form class="col s12">
				<div class="row no-margin hidden">
					<div class="input-field col s12 no-bottom-margin">
						<input disabled id="userId" type="text" value="{{#each user}}{{id}}{{/each}}">
						<label for="userId">User Id</label>
					</div>
				</div>
				<div class="row no-margin">
					<div class="input-field col s12 no-bottom-margin">
						<input id="itemName" type="text">
						<label for="username">Item Name</label>
					</div>
				</div>
				<div class="row no-margin">
					<div class="input-field col s12 no-bottom-margin">
						<input id="img_url" type="text">
						<label for="img_url">Image URL</label>
					</div>
				</div>
				<div class="row no-margin">
					<div class="input-field col s6 no-bottom-margin">
						<select id="categoryId">
							{{#each categories}}
								<option value="{{id}}">{{name}}</option>
							{{/each}}
						</select>
						<label>Select A Category!</label>
					</div>
					<div class="input-field col s6 no-bottom-margin">
						<input id="subcategory" type="text">
						<label for="subcategory">Subcategory (optional)</label>
					</div>
				</div>
				<div class="row no-margin">
					<div class="input-field col s12 no-bottom-margin">
						<textarea id="description" class="materialize-textarea"></textarea>
						<label for="description">Description</label>
					</div>
				</div>
				<div class="row no-margin">
					<div class="input-field col s12 no-bottom-margin">
						<input id="tags" type="text">
						<label for="tags">Tags</label>
					</div>
				</div>
				<div class="row no-margin">
					<button class="btn red" id="newItem" style="margin-left:11.5px">Create New Item</button>	
				</div>
			</form>
		</div>
	</div>
</div>

<div id="modalUserUpdate" class="modal">
	<div class="modal-content">
		<div class="row">
			<form class="col s12">
				<div class="row no-margin hidden">
					<div class="input-field col s12 no-bottom-margin">
						<input disabled id="userIdUpdate" type="text" value="{{#each user}}{{id}}{{/each}}">
						<label for="userIdUpdate">User Id</label>
					</div>
				</div>
				<div class="row no-margin">
					<div class="input-field col s12 no-bottom-margin">
						<input id="userNameUpdate" type="text" value="{{#each user}}{{name}}{{/each}}">
						<label for="userNameUpdate">User Name</label>
					</div>
				</div>
				<div class="row no-margin">
					<div class="input-field col s12 no-bottom-margin">
						<input id="userImgurlUpdate" type="text" value="{{#each user}}{{img_url}}{{/each}}">
						<label for="userImgurlUpdate">Profile Image URL</label>
					</div>
				</div>
				<div class="row no-margin">
					<div class="input-field col s12 no-bottom-margin">
						<textarea id="userDescriptionUpdate" class="materialize-textarea">{{#each user}}{{description}}{{/each}}</textarea>
						<label for="userDescriptionUpdate">Description</label>
					</div>
				</div>
				<div class="row no-margin">
					<button class="btn red" id="user-update-request" style="margin-left:11.5px">Update User Info</button>	
				</div>
			</form>
		</div>
	</div>
</div>

<div id="modalUpdate" class="modal">
	<div class="modal-content">
		<div class="row">
			<form class="col s12">
				<div class="row no-margin hidden">
					<div class="input-field col s12 no-bottom-margin">
						<input disabled id="itemIdUpdate" type="text" value="">
						<label for="userId">User Id</label>
					</div>
				</div>
				<div class="row no-margin">
					<div class="input-field col s12 no-bottom-margin">
						<input id="itemNameUpdate" type="text">
						<label for="username">Item Name</label>
					</div>
				</div>
				<div class="row no-margin">
					<div class="input-field col s12 no-bottom-margin">
						<input id="imgUrlUpdate" type="text">
						<label for="img_url">Image URL</label>
					</div>
				</div>
				<div class="row no-margin">
					<div class="input-field col s6 no-bottom-margin">
						<select id="categoryIdUpdate">
							{{#each categories}}
								<option class="category{{id}}" value="{{id}}">{{name}}</option>
							{{/each}}
						</select>
						<label>Select A Category!</label>
					</div>
					<div class="input-field col s6 no-bottom-margin">
						<input id="subcategoryUpdate" type="text">
						<label for="subcategory">Subcategory (optional)</label>
					</div>
				</div>
				<div class="row no-margin">
					<div class="input-field col s12 no-bottom-margin">
						<textarea id="descriptionUpdate" class="materialize-textarea"></textarea>
						<label for="description">Description</label>
					</div>
				</div>
				<div class="row no-margin">
					<div class="input-field col s12 no-bottom-margin">
						<input id="tagsUpdate" type="text">
						<label for="tags">Tags</label>
					</div>
				</div>
				<div class="row no-margin">
					<button class="btn red" id="update-request" style="margin-left:11.5px">Update Item</button>	
				</div>
			</form>
		</div>
	</div>
</div>

<div id="modalDelete" class="modal black">
	<div class="modal-content">
		<h4 class="animated flash infinite center-align red-text text-lighten-3">WARNING!!!</h4>
		<div class="center-align">
			<img src="https://media.giphy.com/media/Zsx8ZwmX3ajny/giphy.gif" class="responsive-img animated pulse infinite">
			<h4 class="animated shake infinite red-text text-lighten-3">This will permanently DELETE</h4>
			<h4 class="animated shake infinite red-text text-lighten-3"><span id="itemNameDelete"></span></h4>
		</div>
		<div class="row center-align">
			<button id="delete-request" class="btn-large red center-align waves-effect waves-light" dataId="">DELETE IT!</button>
		</div>
	</div>
</div>

</div>

<script type="text/javascript">
$(document).ready(function(){
	$('.modal').modal();
 	$('.slider').slider();
 	$('select').material_select();
 	$(".button-collapse").sideNav();

    var cw = $('.square-div').width();
	$('.square').css({'height':cw+'px'});
	$('.square').css({'width':cw+'px'});
	$('.square-div').css({'height':cw+'px'});

	$('.seperate-tags').each(function(){

		var tags = $(this).text().trim();
		// console.log(tags);
		var tagsArr = tags.split(',');
		var tagsHash = ' #'+tagsArr.join(' #');
		$(this).empty();
		$(this).append(tagsHash);
	})

	$('.set-category-text').each(function(){
		var categoryId = $(this).attr('dataCategoryId');
		var categories = ['','Apparel','Stuff','Other'];
		var tempString = 'Category: '+categories[parseInt(categoryId)];
		console.log('Tempstring: '+tempString);
		$(this).append(tempString);
	})
});

$(window).resize(function(){
	console.log('resized');
	var cw = $('.square-div').width();
	$('.square').css({'height':cw+'px'});
	$('.square').css({'width':cw+'px'});
	$('.square-div').css({'height':cw+'px'});
})

$('#modalAddOpen').click(function(){
	console.log('modal add')
	$('#modalAdd').modal('open');
})

$('.avatar-box').hover(function(){
	$(this).children(".user-update-button").css("opacity",".7");
	$(this).children(".user-update-button").css("opacity",".7");
	$(this).children('img').css("webkitFilter","brightness(50%)");
})


$('.avatar-box').mouseleave(function(){
	$(this).children(".user-update-button").css("opacity","0");
	$(this).children(".user-update-button").css("opacity","0");
	$(this).children('img').css("webkitFilter","brightness(100%)");
})

$('.square-div').hover(function(){
	console.log('hovered');
	$(this).children(".img-delete-button").css("opacity",".7");
	$(this).children(".img-update-button").css("opacity",".7");
	$(this).children(".modal-trigger").children(".square").css("webkitFilter","brightness(50%)");
	$(this).children(".img-name-hover").css("opacity","1");
});

$('.square-div').mouseleave(function(){
	console.log('hovered');
	$(this).children(".img-delete-button").css("opacity","0");
	$(this).children(".img-update-button").css("opacity","0");
	$(this).children(".modal-trigger").children(".square").css("webkitFilter","brightness(100%)");
	if(show === true){
		$(this).children(".img-name-hover").css("opacity",".7");
	}
	else {
		$(this).children(".img-name-hover").css("opacity","0");
	}

});

var show = false;

$('#showNames').on('click', function(){
	console.log('shownames');
	console.log(show);
	if (show === false){
		show = true;
		console.log(show);
		$(".img-name-hover").css("opacity",".7");
		$("#swapLabel").empty();
		$("#swapLabel").append("label");
	}
	else {
		show = false;
		$(".img-name-hover").css("opacity","0");
		$("#swapLabel").empty();
		$("#swapLabel").append("label_outline");
	}
});

$(".user-update-button").hover(function(){
	$(this).css("opacity","1");
})

$(".user-update-button").mouseleave(function(){
	$(this).css("opacity",".7");
})

$(".img-delete-button").hover(function(){
	$(this).css("opacity","1");
})

$(".img-delete-button").mouseleave(function(){
	$(this).css("opacity",".7");
})

$(".img-update-button").hover(function(){
	$(this).css("opacity","1");
})

$(".img-update-button").mouseleave(function(){
	$(this).css("opacity",".7");
})

$('#newItem').on('click', function(){
	event.preventDefault();
	var data = {};
	data.userId = $('#userId').val().trim();
	data.name = $('#itemName').val().trim();
	data.categoryId = $('#categoryId').val();
	data.subcategory = $('#subcategory').val().trim();
	data.description = $('#description').val().trim();
	data.img_url = $('#img_url').val().trim();
	data.tags = $('#tags').val().trim();
	console.log(data);

	$.ajax({
		url: "/api/item/new",
		type: 'POST',
		data: data
	}, data).then((response)=>{
		console.log(response);
		location.reload();
	})
})

$('.img-delete-button').on('click',function(){
	var id = $(this).attr('dataId');
	var name = $(this).attr('dataName');
	$('#itemNameDelete').empty();
	$('#itemNameDelete').append(name);
	$('#delete-request').attr('dataId', id);
});

$('.img-name-hover').on('click',function(){
	var id = $(this).attr('dataModal');
	$('#modal'+id).modal('open');
})

$('#delete-request').on('click',function(){
	var id = $(this).attr('dataId');
	console.log(id);
	var url = '/api/item/delete';
	$.ajax(
		{
			url:url,
			type:'POST',
			data: {id:id}
		}).then(function(){
			location.reload();
		})
})

$('.img-update-button').on('click',function(){
	var id = $(this).attr('dataId');
	var name = $(this).attr('dataName');
	var imgUrl = $(this).attr('dataImgUrl');
	var categoryId = $(this).attr('dataCategoryId');
	var subcategory = $(this).attr('dataSubcategory');
	var description = $(this).attr('dataDescription');
	var tags = $(this).attr('dataTags');
	$('#itemIdUpdate').attr('value', id);
	$('#itemNameUpdate').attr('value', name);
	$('#imgUrlUpdate').attr('value', imgUrl);
	$('#subcategoryUpdate').attr('value', subcategory);
	$('#descriptionUpdate').empty();
	$('#descriptionUpdate').append(description);
	$('#tagsUpdate').attr('value', tags);
	Materialize.updateTextFields();
})

$('#user-update-request').on('click',function(){
	var data = {};
	data.id = $('#userIdUpdate').val().trim();
	data.name = $('#userNameUpdate').val().trim();
	data.img_url = $('#userImgurlUpdate').val().trim();
	data.description = $('#userDescriptionUpdate').val().trim();
	console.log(data);
	$.ajax({
		url:'/api/user/update',
		type:'PUT',
		data:data
	}).then(function(){
		location.reload();
	})
})

$('#update-request').on('click',function(){
	event.preventDefault();
	var data = {};
	data.userId = $('#userId').val().trim();
	data.id = $('#itemIdUpdate').val().trim();
	data.name = $('#itemNameUpdate').val().trim();
	data.categoryId = $('#categoryIdUpdate').val();
	data.subcategory = $('#subcategoryUpdate').val().trim();
	data.description = $('#descriptionUpdate').val().trim();
	data.img_url = $('#imgUrlUpdate').val().trim();
	data.tags = $('#tagsUpdate').val().trim();
	console.log(data);

	$.ajax({
		url:'/api/item/update',
		type:"PUT",
		data:data
	}).then(function(){
		location.reload();
	})
})

</script>